@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;

  max-width: 1440px;

  background-color: black;
  color: white;
}

.banner {
  background: url("../images/banner.png"),
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(49, 168, 221, 0.2),
      rgba(0, 0, 0, 0.6)
    );

  height: 600px;
  padding-top: 60px;
  border-bottom: 1px solid #33a8db80;
}

.banner-content {
  text-align: center;
  width: 600px;
}

.banner-content .logo {
  display: flex;

  width: 268px;
  height: 268px;

  background: rgba(0, 0, 0, 0.2);

  border-radius: 50%;

  margin-bottom: 16px;
}

.banner-content .logo img {
  width: 248px;
  height: 241px;
  margin: auto;
}

.banner-content h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: transparent;
  line-height: 47px;
  background: -webkit-linear-gradient(180deg, #33a8db 0%, #1472b7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 16px;
}

.banner-content p {
  width: 514px;

  font-size: 1.25rem;
  font-weight: 400;
  line-height: 23px;
  text-align: center;

  margin-bottom: 16px;
}

.banner-content button {
  width: 326px;
  background: transparent;
  border-image: linear-gradient(#3ba1cd, #1572b7);
  border-image-slice: 10;

  font-size: 16px;
  font-weight: 900;
  line-height: 19px;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.21em;
  color: #31a8dd;
  font-size: 1rem;
  font-weight: bold;

  padding: 16px 32px;
}

section {
  margin: 100px auto;
}

#course-content {
  width: 800px;
  text-align: center;
}

#course-content h2 {
  color: #33a8db;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.21em;
  text-transform: uppercase;
  margin-bottom: 24px;
}

#course-content .modules-list {
  width: 535px;

  margin: 24px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#course-content .modules-list .module {
  width: 100%;
  background-color: #252525;
  border: 1px solid #33a8db;
  box-shadow: inset -2px 6px 4px rgba(0, 0, 0, 0.4);
  border-radius: 57px;

  padding: 16px;
  margin: 10px 0;
}

#course-content .modules-list .module span {
  color: #33a8db;
}

#transform-world {
  height: 560px;
  background-image: url("../images/woman-code.png");
  background-size: cover;
  background-attachment: fixed;
  border-top: 1px solid #33a8db80;
  border-bottom: 1px solid #33a8db80;
  padding: 200px;
}

#transform-world p {
  font-size: 2.5rem;
  font-weight: 900;

  width: 244px;

  text-shadow: 3px 2px 0px #33a8db;
  text-transform: lowercase;

  margin: 0;
}

#professional-challenges h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.19em;

  width: 800px;

  color: #33a8db;
}

#professional-challenges {
  text-align: center;
}

#professional-challenges img {
  margin: 32px 0 40px;
}

#professional-challenges p {
  font-size: 16px;
  font-weight: 400;

  width: 800px;
}

footer {
  text-align: center;
  border-top: 1px solid #33a8db80;
  border-bottom: 1px solid #33a8db80;

  padding: 60px 0;
}

footer p a {
  color: #33A8DB;
  font-weight: 700;
  text-decoration: none;
}


